{% extends "base.html" %}

{% block content %}
    <div class="event_table">
        <h2>Here shows the Blockchain</h2>
        <p>Every hash is calculated by its data block and previous hash:</p>
        <table class="table table-bordered">
            <tr>
                <th>Hash</th>
                <th>Previous Hash</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

      <a href = "/">Go back to home page</a>

{% endblock %}