{% extends "base.html" %}
{% block content %}
    <div class="event_table">
        <form action="/charge" method="post">
            <article>
                <label>
                    <span>Amount is AUD{{ amount/100 }}</span>
                </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn-outline-primary"
                data-key="{{ key }}"
                data-description="A Flask Charge"
                data-amount="{{ amount }}"
                data-locale="auto"></script>
        </form>
    </div>

{% endblock %}