{% extends "base.html" %}
{% block content %}
    <div class="event_table">
        <p>You can use the card information below to finish the payment in this demo site:</p>
        <p>Card Number: 4242 4242 4242 4242</p>
        <p>A valid expiration date in the future</p>
        <p>Any random CVC number</p>
    </div>
    <div class="event_table">
        <form action="/charge" method="post">
            <article>
                <label>
                    <span>Amount is AUD{{ amount/100 }}</span>
                </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn-outline-primary"
                data-key="{{ key }}"
                data-description="TixBlock Charge"
                data-amount="{{ amount }}"
                data-locale="auto"></script>
        </form>
    </div>

{% endblock %}